.idea/.name
.idea/modules.xml
.idea/TDDDoneRight.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml
TDD Done Right.xcodeproj/project.xcworkspace/contents.xcworkspacedata
TDD Done Right.xcodeproj/project.xcworkspace/xcuserdata/eduardourso.xcuserdatad/UserInterfaceState.xcuserstate
TDD Done Right.xcodeproj/project.xcworkspace/xcuserdata/eduardourso.xcuserdatad/xcschemes/xcschememanagement.plist
TDD Done Right.xcodeproj/xcuserdata/eduardourso.xcuserdatad/xcschemes/All in FractionEqualsTest.swift.xcscheme
TDD Done Right.xcodeproj/xcuserdata/eduardourso.xcuserdatad/xcschemes/TDD Done Right.xcscheme
TDD Done Right.xcodeproj/xcuserdata/eduardourso.xcuserdatad/xcschemes/Unit Tests.xcscheme
TDD Done Right.xcodeproj/xcuserdata/eduardourso.xcuserdatad/xcschemes/xcschememanagement.plist
